.ProductCardCarousel .Carousel {
    padding: 0;
}

.ProductCardCarousel .Carousel__nextArrow,
.ProductCardCarousel .Carousel__prevArrow {
    top: 50%;
    width: 52px;
    height: 52px;
    z-index: 999;
    opacity: 0.7;
    display: block;
    cursor: pointer;
    line-height: 52px;
    position: absolute;
    text-align: center;
    background: #FFF;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: opacity 300ms ease;
    -webkit-transform: translateY(-50%);
    box-shadow: 1px 1px 6px rgb(0 0 0 / 50%);
}

.ProductCardCarousel .Carousel__nextArrow:hover,
.ProductCardCarousel .Carousel__prevArrow:hover {
    opacity: 1;
}

.ProductCardCarousel .Carousel__prevArrow {
    left: -25px;
}

.ProductCardCarousel .Carousel__nextArrow {
    right: -10px;
}

.ProductCardCarousel .grid-box {
    border: 1px solid #EEE;
}

.ProductCardCarousel .name-box {
    padding-left: 20px
}

.ProductCardCarousel .card-footer span,
.ProductCardCarousel .card-footer h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1260px) {
    .ProductCardCarousel .slick-slide {
        display: flex;
        justify-content: center;
    }

    .ProductCardCarousel .Carousel__prevArrow {
        left: -10px;
    }
    
    .ProductCardCarousel .Carousel__nextArrow {
        right: -10px;
    }
}

@media screen and (max-width: 730px) {
    .ProductCardCarousel .slick-slide {
        display: flex;
        justify-content: center;
    }
}
