.Header__icon-label {
    color: #FA0F00;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.Header .navbar-brand {
    padding-bottom: 1.01%;
}

.Header .navbar-collapse {
    top: 4px;
    z-index: 999;
}

.Header__cursor-pointer {
    cursor: pointer !important;
}

.Header__tabs-hover div,
.Header__tabs-hover span {
    cursor: pointer !important;
}

.Header .navbar-search-box {
    padding-right: 1rem;
}

.Header .navbar-toggler {
    margin-top: 0.6%;
}

.Header__tabs-hover ._spectrum-Tabs-item_0248f {
    padding: 0 15px;
}

.Header__tabs-hover ._spectrum-Tabs-item_0248f:hover {
    background-color: #FAFAFA;
}

@media screen and (max-width: 1290px) {
    .Header__responsive-box {
        width: 20% !important;
    }
}

@media screen and (max-width: 1150px) {
    .Header__responsive-box {
        width: 20% !important;
    }
}

@media screen and (max-width: 992px) {
    .Header__responsive-box {
        width: 40% !important;
    }
}

@media screen and (max-width: 650px) {
    .Header__navbar-flex-wrap {
        flex-wrap: wrap;
    }

    .Header .navbar-search-box {
      padding-right: 0 !important;
    }

    .Header__responsive-box {
        padding: 20px 0 10px 0;
        width: 100% !important;
    }

    .Header__tabs-hover {
        align-items: center;
    }
}