.Header__icon-label {
    color: #FA0F00;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1290px) {
    .Header__responsive-box {
        width: 20% !important;
    }
}

@media screen and (max-width: 1150px) {
    .Header__responsive-box {
        width: 20% !important;
    }
}

@media screen and (max-width: 992px) {
    .Header__responsive-box {
        width: 40% !important;
    }
}

@media screen and (max-width: 650px) {
    .Header__navbar-flex-wrap {
        flex-wrap: wrap;
    }

    .Header__responsive-box {
        padding: 20px 0 10px 0;
        width: 100% !important;
    }
}