html {
    line-height: 1.5;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.hidden {
    display: none;
}

.font-18 {
    font-size: 18px;
}

.border-grey {
    border: 1px solid #EEE;
}

.text-black {
    color: #1A1A1A;
}

.bg-white {
    background-color: #FFF;
}

.display-grid {
    display: grid !important;
}

.navbar-brand {
    padding-bottom: 1.01%;
}

.navbar-collapse {
    top: 4px;
    z-index: 999;
}

.navbar-search-box {
    padding-right: 1rem;
}

.navbar-toggler {
    margin-top: 0.6%;
}

.cursor-pointer,
.cursor-pointer * {
    cursor: pointer !important;
    pointer-events: all !important;
}

@media screen and (max-width: 650px) {
    .navbar-search-box {
        padding-right: 0 !important;
    }
}