.Filter__label {
    font-size: 13px;
    color: #4b4b4b;
    padding-left: 12px;
    letter-spacing: 0.2px;
}

.Filter__font-16 {
    font-size: 16px;
}

.Filter__with-cross {
    cursor: pointer;
    padding: 7px 13px;
    background: #EEE;
    border-radius: 5px;
}

.Filter__with-cross::after {
    content: "X";
    font-size: 12px; 
    margin-left: 8px;
}

@media screen and (max-width: 880px) {
    .Filter__label {
        padding-left: 0;
    }

    .Filter__social-box {
        text-align: center !important;
        justify-content: center !important;
    }
}